
<div *ngIf="movies.length<= 0"> Aucun film disponible </div>


<div *ngIf="movies.length > 1" >
  <span> Nous avons dans notre catalogue : <strong> {{movies.length}} films </strong></span>


<div class="movies" >
<div class="movie"  *ngFor="let movie of movies"  routerLink="/movie/{{movie.id}}" appListActive="" >

  <h3>Titre :  {{ movie.titles }}</h3>

  <ul>

    <li>Director : {{movie.director}}</li>
    <li>Date de sortie : {{ movie.releaseDates | date:"dd/MM/yy" }}</li>
    <li>Synopsis : {{movie.syno}}</li>
    <span [innerHTML]="movie.note | listNote">

    </span>

  </ul>


</div>
</div>
</div>


